@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

.App {
	text-align: center;
	background-color: #282c34;
	font-family: 'Inconsolata', monospace;
	font-size: 1.4em;
	color: white;
}

.App-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 1em;
}

.App-container > div {
	width: 100%;
	max-width: 100vh;
}

.App button {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
}

.App button:last-of-type {
	margin-bottom: 0;
}
