@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

.App {
	text-align: center;
	background-color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 1.4em;
	color: #ffda00;
}

.App-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 1em;
}

.App-container > div {
	width: 100%;
	max-width: 100vh;
}

.App-container > div > *:last-child {
	margin-bottom: 0;
}

.App button {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
}

.App button,
.App form input[type=submit] {
	background-color: transparent;
	border: 1px solid;
	color: #ffda00;
}

.App button:active,
.App button:hover,
.App button:disabled,
.App form input[type=submit]:active,
.App form input[type=submit]:hover {
	border: 1px solid #ffda00;
	background-color: #ffda00;
	color: black;
}

.App button.a {
	color: #ff1b8d;
}

.App button.a:active,
.App button.a:hover,
.App button.a:disabled {
	border: 1px solid #ff1b8d;
	background-color: #ff1b8d;
	color: black;
}

.App button.b {
	color: #1bb3ff;
}

.App button.b:active,
.App button.b:hover,
.App button.b:disabled {
	border: 1px solid #1bb3ff;
	background-color: #1bb3ff;
	color: black;
}

.App form {
	display: flex;
}

.App form input {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	padding: 1em;
	margin-bottom: 1em;
}

.App form input[type=text] {
	width: 100%;
	flex-grow: 1;
	border: 1px solid #ffda00;
	background-color: #ffda00;
	color: black;
}

